<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>xv6 explora</title>

    <!-- Explora CSS --> 
    <link rel="stylesheet" href="./css/pygments.css">
    <link rel="stylesheet" href="./css/explora.css">
    <style type="text/css" media="screen">
      
    </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">xv6 explora</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#chapter1">Chapters<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="https://github.com/mit-pdos/xv6-book/blob/master/LICENSE">Copyright<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="https://github.com/mit-pdos/xv6-book/blob/master/LICENSE">INSTRUCTIONS<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="" data-toggle="modal" data-target="#exampleModalCenter">Keyboard Shortcuts<span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Keyboard shortcuts</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div id="table1"></div>            
              <table class="table table-sm">
                <tr> <td><b>Key</b></td> <td><b>Function</b></td> </tr>
                <tr><td>h or ?</td><td> Show these shortcuts </td></tr>
                <tr><td>esc</td><td> Hide these shortcuts </td></tr>
                <tr><td>j</td><td> Goto next sentence and speak it </td></tr>
                <tr><td>k</td><td> Goto previous sentence and speak it </td></tr>
                <tr><td>s</td><td> Speak sentence </td></tr>
                <tr><td>+</td><td> Speed up voice</td></tr>
                <tr><td>-</td><td> Slow down voice </td></tr>
              </table>
          </div>
          <!-- <div class="modal-footer"> -->
          <!--   <button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button> -->
          <!-- </div> -->
        </div>
      </div>
    </div>



    
    <div class="container-fluid"> 
      <div class="row">
        <div id="editor-col" class="col-7">
          <div class="sticky-top">
            <div id="editor"> </div>
          </div>
        </div>
        <div class="col-5" >
          <i> This website repackages a book and corresponding
            source code to xv6, each of which can be found through
            MIT's OpenCourseWare,
            <a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-828-operating-system-engineering-fall-2012/">
              Operating System Engineering.  
            </a>
          </i>
          <br/><br/><br/><br/>

          {% include "chapter0.html" %}
          {% include "chapter1.html" %}
          {% include "chapter2.html" %}
          
        </div>
      </div>
    </div>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script src="js/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/debug-src-list.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/paragraph.js" type="text/javascript" charset="utf-8"></script>

    <script>
      var lastMarker = false;
      
      function gotoLine(n) {
          var Range = ace.require('ace/range').Range;
          let r = new Range(n-1, 0, n-1, 100);
          if (lastMarker) {
              editor.session.removeMarker(lastMarker);
          }
          lastMarker = editor.session.addMarker(r, "myMarker", "fullLine");
          editor.scrollToLine(n, true, true);
      }

      function gotoLines(from, to) {
          var Range = ace.require('ace/range').Range;
          let r = new Range(from-1, 0, to-1, 100);
          if (lastMarker) {
              editor.session.removeMarker(lastMarker);
          }
          lastMarker = editor.session.addMarker(r, "myMarker", "fullLine");
          editor.scrollToLine(from, true, true);
      }
      
      $(window).resize(function() {
          $("#editor").css("height", window.innerHeight);
          console.log("resizing window");
      });
    </script>
    
    <script>
      var editor = ace.edit("editor");
      editor.setValue("downloaded xv6 src, this could take a couple seconds.", 1);
      editor.setValue(xv6SrcList.join("\n"), 1);
      editor.setAnimatedScroll(true);
      editor.setTheme("ace/theme/solarized_light");      
      editor.session.setMode("ace/mode/c_cpp");
      editor.setReadOnly(true);
      editor.setHighlightActiveLine(true);
      $("#editor").css("height", window.innerHeight);
      setTimeout("gotoLine(1000);", 200);
      
    </script>
    
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({
              placement: 'left',
              html:true,
              offset: '200px',
          })
      })

      $("#popover").popover({ trigger: "hover" });

      $('#popoverOption').popover({
          trigger: "hover",
          placement: 'left',
          html:true
      });

      $('.popoverOption').popover({
          trigger: "hover",
          placement: 'left',
          html:true
      });
      
      $('p').hover(
          function(p) {
              p.target.style.backgroundColor = "#f8f8f8"
          },
          function(p){ 
              p.target.style.backgroundColor = "#fff"
          })
      
    </script>
    
  </body>
</html>
